

<section id="About">
    <div class="about">
        <div class="img ">
            <img class="profile-img" src="{{dat.Poster}}" alt="GOT poster" >
        </div>
        <div class="info">
            <h1> {{dat.Title}}</h1>
            <ul>
                <li>
                    <span> Year realised  :</span> {{dat.Year}} 
                </li>
            
                <li>
                    <span>Awards Won :</span> {{dat.Awards}}
                </li>
            
                <li>
                    <span>Total Seasons : </span>{{dat.totalSeasons}}
                </li>
            
                <li>
                    <span>IMDB Raiting :</span> {{dat.imdbRating}}
                </li>
            
                <li>
                    <span>Language :</span>{{dat.Language}}
                </li>
            </ul>
        </div>
    </div>
</section>